body{
    width: 100%;
    background-color: #15171a;
   color: whitesmoke;
}
.wrapper {
    margin: 1em;
}

.header {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color:lightyellow;
}

nav li{
    display: inline;
}

a:link {
    text-decoration: none;
    color:lightyellow;
    padding: 2em;
    font-family:sans-serif;
}

a:hover {
    color: lightgray;
}

.splash{
margin: 1em;
padding-top: 5em;
padding-bottom:5em;
}

.name {
    height: 1em;
display: flex;  
flex-direction: row;
justify-content:center;
align-items: center;
padding-right: 3em;
font-size: 80px;
font-weight: 700;
color: lightyellow;


}

.myTitle{
    display: flex;
justify-content: center;
padding-left: 3em;
align-items: start;
font-size: 30px;
font-style:italic;
color:lightgray;

}

.bio {
    width: 60%;
display: flex;
justify-content: center;
align-items: center;
padding-right: 12em;
padding-left: 12em;
text-align: center;
font-size: 21px;
}

/* .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
justify-content:space-around;
align-items: center;
    padding-top: 2em;
} */

.projectHeader{
    display:flex;
    width: 100%;
    justify-content:flex-start;
    flex-direction: row;
    padding-top: 6em;
    padding-left: 1em;
    align-items: start;
    font-size: 30px;
    font-style:italic;
    color:lightyellow;
}

.contactHeader {
    width: 100%;
    justify-content:flex-start;
    flex-direction: row;
    padding-top: 3em;
    padding-left: 1em;
    padding-bottom: 1em;
    align-items: start;
    font-size: 30px;
    font-style:italic;
    color:lightyellow;
}
/* .card {
    padding: 1em;
    margin: 30px;
    width: 600px;
    box-shadow: 0 4px 8px 0 lightyellow;
  transition: 0.3s;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card img{
    display:flex;
    align-items: center;
    height:auto;
    width:80%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 lightyellow;
  }

  .container {
      text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
  }

   h4 {
     font-size: 20px;
  } */